:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

 $fa-font-path: $fonts_path + 'font-awesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss';

input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #3a3c4d;
	color: #FFFFFF;
}

.titlebar {
	background-color: #3a3c4d;
}

#main {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	width: 300px;
}

.modal {
	border-radius: 2px;
	display: none;
	position: absolute;
    left: 50%;
    top: 10;
    transform: translate(-50%, 0);
	width: 60%;
	height: calc(95% - 60px);
	background-color: #464756;
	z-index: 1;
}

.modal-titlebar {
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	font-weight: 400;
	position: relative;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: #4A4D5C;
}

.modal-bottom {
	width: 100%;
	height: 30px;
	background-color: #4A4D5C;
}

.modal-apply {
	float: left;
	background-color: transparent;
}

.modal-apply:hover {
	background-color: #8bc34a;
}

.modal-cancel {
	float: right;
	background-color: transparent;
}

.modal-cancel:hover {
	background-color: #f44336;
}

.modal-button {
	border-radius: 2px;
	margin: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 22px;
	height: 22px;
}

.modal-button i {
	margin-top: 3px;
}

#exceptions-modal .modal-content {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	height: calc(100% - 60px);
	width: calc(100% - 20px);
	overflow: scroll;
}

.exception-item {
	border-radius: 2px;
	display: block;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #5d6175;
	border-left: 5px solid #464756;
	padding-left: 10px;
	transition: .2s;
}

.exception-item:hover {
	background-color: #5d6175;
	border-left: 5px solid #c8609e;
}

.exception-checkbox {
	float: right;
	display: none;
}

.exception-checkmark {
	background-color: transparent;
	float: right;
	width: 5px;
	height: 100%;
}

.exception-checkbox:checked ~ .exception-checkmark {
	background-color: #8bc34a;
}

.custom-input {
	border-radius: 2px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	height: 50px;
	line-height: 50px;
	background-color: #3a3c4d;
	font-size: 12px;
	font-weight: 400;
	color: #687085;
	border: none;
	border-top: 1px solid #687085;
	border-left: 4px solid #3a3c4d;
	transition: .2s;
	margin-bottom: 20px;
}

.custom-input:hover {
	border-left: 4px solid #c8609e;
	background-color: #3f4152;
	color: #c8609e;
}

.custom-input:focus {
	border-left: 4px solid #c8609e;
	background-color: #3f4152;
	color: #c8609e;
	outline: none;
}

button {
	border-radius: 2px;
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	font-weight: 400;
	font-size: 12px;
	margin: 0 auto;
	color: white;
	background-color: #c8609e;
	transition: .2s;
}

button:hover {
	background-color: #ad5389;
}

button:focus {
	outline: none;
}