:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

 $fa-font-path: $fonts_path + 'font-awesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss';

/* -------- SCROLLBAR -------- */
div::-webkit-scrollbar {
  width: 5px;
}
 
div::-webkit-scrollbar-track {
  background: #1f2a35;
}
 
div::-webkit-scrollbar-thumb {
  background: #526770; 
}

div::-webkit-scrollbar {
  width: 5px;
}
/* -------- */

input, button, textarea, :focus {
    outline: none;
}

* {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #181E26;
	color: #FFFFFF;
	min-height: 100%;
}

.titlebar {
	background-color: #181E26;
}

.side {
	width: 50%;
	height: 85%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	background-color: #181E26;
}

#left-side {
	float: left;
}

#right-side {
	float: right;
}

.side-inner {
	position: relative;
	max-width: 80%;
	margin: auto;
}

/* -------- SIDEBAR -------- */
.sidebar {
	font-size: 13px;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 0;
	background-color: #1c2630;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	transition: .5s;
}

.sidebar-inner {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
	word-break: break-all;
}

.exceptions-item {
	width: 300px;
	height: 40px;
	color: #526770;
	display: block;
	font-size: 13px;
	line-height: 40px;
	border-left: 10px solid transparent;
	padding-left: 20px;
	transition: .2s;
}

.exceptions-item:hover {
	border-left: 10px solid #3b6c94;
	background-color: #272f3b;
	color: #abcad9;
}

.exceptions-item div {
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	width: 200px;
	float: left;
}

.exception-checkbox {
	float: right;
	display: none;
}

.exceptions-item i {
	display: none;
	float: left;
	line-height: 40px;
}

.exception-checkbox:checked + i {
	display: inline;
	margin-left: 20px;
}

.sidebar button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #57d99c;
	border: none;
	transition: .2s;
}

.sidebar button:hover {
	background-color: #42a576;
}

/* -------- INPUTS -------- */
.input-label {
	font-size: 13px;
	margin-bottom: 10px;
}

.custom-input {
	white-space: nowrap;
	font-size: 13px;
	float: left;
	border: 1px solid #7b8d9c;
	background-color: transparent;
	color: #7b8d9c;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	transition: .2s;
	width: 200px;
	overflow: hidden;
	word-break: break-all;
}

.custom-input:hover {
	background-color: #7b8d9c;
	color: #181E26;
}

/* -------- CHECKBOX -------- */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    color: #7b8d9c;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #7b8d9c;
    transition: .2s;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #7b8d9c;
}

.checkbox-container:hover .checkmark:after {
	left: 3px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid #181E26;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 3px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid #7b8d9c;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* -------- RANGE SLIDER -------- */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #57d99c;
    outline: none;
    transition: .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #42a576;
    cursor: pointer;
}

.slider:disabled {
	background: #5f8e78;
}

/* -------- GO BUTTON -------- */
#go-button {
	width: 60px;
	height: 60px;
	position: fixed;
	line-height: 60px;
	bottom: 10px;
	right: 20px;
	background-color: transparent;
	font-size: 13px;
	border: none;
	transition: .2s;
	text-align: center;
	color: white;
}

#go-button:hover {
	color: #7b8d9c;
}

#location-error {
	display: none;
	font-size: 13px;
	color: red;
	position: fixed;
	bottom: 8px;
	height: 60px;
	line-height: 60px;
	right: 100px;
}
